@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
    font-size: 1.111vw;
}

@media screen and (max-width: 767px) {
    html {
        font-size: 16px;
    }
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    outline: none;
    border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

:root {
    --success: #05b259;
    --danger: #fb0000;
    --normal: #ebf10a;
    --orange: #FF5733;
}

body {
    font-family: "Sora", sans-serif;
    line-height: 1.5;
}

.wrapper {
    padding-top: 0.694vw;
    padding-left: 0.694vw;
    padding-right: 0.694vw;
    margin: 0 auto;
    font-size: 1.111vw;
}

.status_danger {
    background-color: var(--danger);
    color: white;
    animation: blink 1.5s infinite;
}

@keyframes blink {
    50% {
        background-color: white;
        color: black;
    }
}

.status_success {
    background-color: var(--success);
}

.status_normal {
    background-color: var(--normal);
}

.text_danger {
    color: var(--danger) !important;
}

.text_normal {
    color: var(--normal) !important;
}

.text_success {
    color: var(--success) !important;
}

.text_color_orange {
    color: var(--orange) !important;
}